
        <script>
         function showFile(){
           console.log("test");
         }
        </script>

<body class="text-center">
   <div class="body-meal-form">
      <form  method="post" action="/load-data/meal-kits" class="form-add-meal" enctype="multipart/form-data">
         {{#if messages}}
         <small style="color: red;">{{messages.error}}</small>       
         {{/if}}
         <h3 class="font-weight-normal text-lg-left">Add a Meal<br>
            {{#if messageData.meals}}
            <small style="font-size: 13px;">{{messageData.meals}}</small>  
            {{/if}}
            {{#if messages.created}}
            <small style="font-size: 13px;">{{messages.created }}</small>
            {{/if}}<br>
         </h3>

         <label for="title" class="sr-only">Title</label>
         <input type="text" id="title" name="title" class="form-control mb-3" placeholder="Name of the dish to be added"  autofocus="" required >
         
         <label for="ingredients" class="sr-only">Ingredients</label>
         <input type="text" id="ingredients" name="ingredients" class="form-control mb-3" placeholder="What is included?"  autofocus="" required>
         
         <label for="description" class="sr-only">Description</label>
         <textarea id="description" name="description" class="form-control mb-3" rows="3" placeholder="Description" autofocus="" required></textarea>
         
         <div class="row">
            <div class="col-md-6 mb-3">
               <label for="category" class="sr-only">Category</label>
               <input type="text" id="category" name="category" class="form-control" placeholder="Category"  autofocus="" required>
            </div>
            <div class="col-md-3 mb-3">
               <label for="price" class="sr-only">Price</label>
               <input type="text" id="price" name="price" class="form-control" placeholder="Price (CAD)"  autofocus="" required>
            </div>
            <div class="col-md-3 mb-3">
               <label for="time" class="sr-only">Cooking Time</label>
               <input type="text" id="time" name="time" class="form-control" placeholder="Cooking Time (mins)"  autofocus="" required>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3 mb-3">
               <label for="category" class="sr-only">Calories</label>
               <input type="text" id="calories" name="calories" class="form-control" placeholder="Calories per serving"  autofocus="" required>
            </div>
            <div class="col-md-3 mb-3">
               <label for="servings" class="sr-only">Servings</label>
               <input type="text" id="servings" name="servings" class="form-control" placeholder="Number of servings"  autofocus="" required>
            </div>
            <div class="col-md-6 mb-3">
               <input type="file" class="custom-file-input" name="image" id="image" accept=".jpg,.gif,.png,.jpeg"  required>
               <label class="custom-file-label" for="image" style="text-align: left;color: #6c757d;" >Choose an image file (800x400)</label>
            </div>
         </div>
         <div class="checkbox mb-3 mt-2 text-lg-left">
            <input type="checkbox" id="isTop" name="isTop">
            <label for="isTop">&nbsp Is this a top meal?</label>
         </div>
         <div class="row">
            <div class="col-md-3 mb-3 mt-4">
               <button class="btn btn-primary form-control"  type="submit" >Add Meal</button>
            </div>
         </div>
         <br>
      </form>
   </div>
</body>

