<div class="bannerHero">
        <div class="HeroText">
          <h1 style="font-size: 60px;">The Best Food <br>
            <strong>In Your Hands</strong></h1>
        </div>
      </div>
      <div class="textbox">
        <p>Get the best organic products on your kitchen within minutes <br>and prepare amazing dishes for your friends and family  </p>
      </div>