<div class="textbox">
    <h1 style="font-size: 30px;padding-bottom: 30px;">Clerk Dashboard</h1>
    <h5>What would you like to do today?</h3>
    <div style="padding: 15px 400px;">
    <button class="btn btn- btn-primary btn-block" onclick="location.href='/load-data/meal-kits'" style="background-color: #00008b;">Create a meal</button>
    </div>
  </div>