
<div class="featuresSection" style="margin-bottom: 22px;">
        <h2 style="margin-bottom: 30px;">4 Simple Steps</h2>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-3">
              <div class="feature">
                <img src="/images/features/ideas.jpg" alt="ideas">
                <h3 class="feature-title">We get the ideas</h3>
                <p>We have designed a variety of ideas for you to make delicious dishes </p>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="feature">
                <img src="/images/features/choose-meal.jpg" alt="">
                <h3 class="feature-title">You choose your meal</h3>
                <p>Pick one or more deal according to your desires</p>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="feature">
                <img src="/images/features/delivery.jpg" alt="">
                <h3 class="feature-title">We deliver for free</h3>
                <p>We will deliver all the ingredients you need to your home</p>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="feature">
                <img src="/images/features/deli-food.jpg" alt="">
                <h3 class="feature-title">You enjoy the food</h3>
                <p>Follow easy steps and enjoy every single bite<br><br> </p>
              </div>
            </div>
          </div>
        </div>
        </div>
    

