 
  <footer>
      <div class="footer-menu">

        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-4">
              <ul class="footer-list">
                <li>Links</li>
                <li> <a href="/">Home</a></li>
                <li><a href="/on-the-menu">On The Menu</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
             
              </ul>
            </div>
            <div class="col-12 col-sm-4">
              <ul class="footer-list">
                <li>Address</li>
                <li style="color: #3f5243;"> 1223 St Clair Ave</li>
                <li style="color: #3f5243;">Toronto Ontario</li>
              
              </ul>
            </div>
            <div class="col-12 col-sm-4">
              <ul class="footer-list">
                <li>Contact Information</li>
                <li style="color: #3f5243;">416-341-1000</li> 
                <li><a href="mailto:info@foodideas.com">info@foodideas.com</a></li>
                
           
              </ul>
            </div>
          </div>
        </div>
      </div>

      <p id="copyright-desk" class="textbox" >Copyright © Fall 2021, Diego Bravo Torres, WEB322 ZAA</p>
      <p id="copyright-mobile" class="textbox" >Copyright © Fall 2021,<br> Diego Bravo Torres, WEB322 ZAA</p>
  </footer>
  
  
</body>
</html>