  <body class="text-center">
    <div class="body-form">
    <form method="post" action="/login" class="form-signin">
     
      <h1 class="h3 mb-5 font-weight-normal">Please log in</h1>

      <label for="Email" class="sr-only">Email address</label>
      <input type="email" name="Email" id="Email" class="form-control mb-3" placeholder="Email address"  autofocus="">
      
      <label for="Password" class="sr-only">Password</label>
      <input type="password" name="Password" id="Password" class="form-control mb-3" placeholder="Password" >
      
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #00008b;">Log in</button>
      <p class="mt-3 mb-3 text-muted">© Food Ideas Co 2022</p>
    </form>
    </div>
</body>