<body>
<div class="orderPlaced" style="margin-bottom: 22px;">
    <h2>Your order has been placed!</h2><br>
    <h5>Did you forget anything?</h5> <br>
    
    <button onclick="location.href='/on-the-menu';"class="btn btn btn-primary btn-block">Keep shopping</button>
   
</div>
</body>