  <body class="text-center">
    <div class="body-form">
    <form  method="post" action="/registration" class="form-signin">
     
      <h1 class="h3 mb-5 font-weight-normal">Sign up</h1>


      <label for="firstName" class="sr-only">First name</label>
      <input type="text" id="firstName" name="firstName" class="form-control mb-3" placeholder="First name"  autofocus="" value="{{values.firstName}}">

      <label for="lasttName" class="sr-only">First name</label>
      <input type="text" id="lastName" name="lastName" class="form-control mb-3" placeholder="Last name"  autofocus="" value="{{values.lastName}}">

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" name="inputEmail" class="form-control mb-3" placeholder="Email address" autofocus="" value="{{values.inputEmail}}">
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="inputPassword" class="form-control mb-3" placeholder="Password" value="{{values.inputPassword}}">
      
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #00008b;">Sign up today!</button>
      <p class="mt-3 mb-3 text-muted">© Food Ideas Co 2022</p>
    </form>
    </div>
</body>