<body>
    <div id="welcome">
    <h1>Welcome to Food Ideas</h1>
    <p></p>
    <p>Dear {{values.firstName}} {{values.lastName}}, </p>
    <p>Now you can enjoy of the greatest food products in the GTA.
        <br>Please go to our On the Menu section <a href="/on-the-menu">On the Menu</a> to see our options. </p>
    </div>
</body>